@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@layer components {
	.input-text {
		@apply px-4 h-12 mt-1 block w-full  rounded-md border border-gray-300 
		shadow-sm text-sm sm:text-lg focus:border-primary focus:ring-2  focus:ring-primary focus:outline-none;
	}
	.input-label {
		@apply block  text-base font-medium text-gray-700;
	}
	.input-textarea {
		@apply p-2 block w-full mt-1 rounded-md border border-gray-300 
		shadow-sm text-sm sm:text-lg focus:border-primary focus:ring-2  focus:ring-primary focus:outline-none;
	}
	.input-button {
		@apply bg-primary mt-3 text-white font-normal h-12 rounded-md 
		text-lg w-full md:w-20 md:float-right;
	}
	.sidebar-item {
		@apply hover:bg-primaryHover h-14 sm:h-10 pt-4 sm:pt-2 pl-2 cursor-pointer;
	}
}

.modal-button {
	@apply bg-primary hover:bg-primaryHover text-white font-normal text-sm h-12 
	rounded-md w-full;
}

.ag-theme-alpine .ag-cell {
	@apply text-xs py-2 px-1 sm:px-6 sm:text-sm;
}
