@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body:root {
	height: 100%;
}

/* a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
} */

/* .ag-theme-alpine .ag-cell {
	@apply py-2 text-base;
}

.ag-theme-alpine .ag-row-hover {
	@apply text-primary bg-secondary bg-opacity-10 
	font-bold cursor-pointer;
}
.ag-theme-alpine .ag-header-cell-text {
	@apply text-lg;
} */

/*
.ag-header-row-column {
	@apply bg-white;
}

.ag-header-row {
	@apply bg-white border-t-0;
} */

/* .ag-header-cell {
	@apply border-r-2 border-white;
} */
/* .ag-header-cell-label {
	@apply text-left;
}

.ag-theme-alpine .ag-row-no-animation .ag-row {
	@apply transition-none;
} */

/* .Dropdown-root {
	@apply relative;
}

.Dropdown-control {
	@apply relative bg-white px-4 pt-2 lg:pt-3 h-10 lg:h-12 mt-1  w-full text-left  rounded-md  
	overflow-hidden
			border border-gray-300 border-opacity-50 shadow-md text-sm lg:text-base flex justify-between;
}

.Dropdown-menu {
	@apply absolute z-20 border border-gray-transparent overflow-y-auto max-h-80
	  bg-white w-full shadow-md rounded-md mt-1;
}

.Dropdown-option {
	@apply hover:text-white hover:bg-primary  border-b border-b-gray-transparent  
		 	h-10 lg:h-12 text-sm lg:text-base px-3 pt-3;
}

.is-open .Dropdown-arrow {
	@apply text-primary bg-primary border-primary;
} */
